USE [master]
GO
/****** Object:  Database [Peliculas_y_Directores]    Script Date: 22/10/2024 15:34:38 ******/
CREATE DATABASE [Peliculas_y_Directores]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Peliculas_y_Directores', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Peliculas_y_Directores.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Peliculas_y_Directores_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Peliculas_y_Directores_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Peliculas_y_Directores].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Peliculas_y_Directores]
GO
/****** Object:  Table [dbo].[Directores]    Script Date: 22/10/2024 15:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directores](
	[ID_Director] [int] NOT NULL,
	[Nombre] [nvarchar](255) NULL,
	[Genero] [nvarchar](255) NULL,
 CONSTRAINT [PK_Director] PRIMARY KEY CLUSTERED 
(
	[ID_Director] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Peliculas]    Script Date: 22/10/2024 15:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peliculas](
	[ID_Pelicula] [int] NOT NULL,
	[Presupuesto] [money] NULL,
	[Puntuacion_Popularidad] [float] NULL,
	[Ingresos] [money] NULL,
	[Titulo] [nvarchar](255) NULL,
	[Género] [nvarchar](255) NULL,
	[Calificacion_Promedio] [float] NULL,
	[ID_Director] [int] NULL,
	[Año_Estreno] [float] NULL,
	[Mes_Estreno] [nvarchar](255) NULL,
 CONSTRAINT [PK_Pelicula] PRIMARY KEY CLUSTERED 
(
	[ID_Pelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Directores] ([ID_Director], [Nombre], [Genero]) VALUES (4762, N'James Cameron', N'Male')
INSERT [dbo].[Directores] ([ID_Director], [Nombre], [Genero]) VALUES (4763, N'Gore Verbinski', N'Male')
INSERT [dbo].[Directores] ([ID_Director], [Nombre], [Genero]) VALUES (4764, N'Sam Mendes', N'Male')
GO
INSERT [dbo].[Peliculas] ([ID_Pelicula], [Presupuesto], [Puntuacion_Popularidad], [Ingresos], [Titulo], [Género], [Calificacion_Promedio], [ID_Director], [Año_Estreno], [Mes_Estreno]) VALUES (43597, 237000000.0000, 150, 2787965087.0000, N'Avatar', N'Ciencia ficción', 72, 4762, 2009, N'Diciembre')
INSERT [dbo].[Peliculas] ([ID_Pelicula], [Presupuesto], [Puntuacion_Popularidad], [Ingresos], [Titulo], [Género], [Calificacion_Promedio], [ID_Director], [Año_Estreno], [Mes_Estreno]) VALUES (43598, 300000000.0000, 139, 961000000.0000, N'Pirates of the Caribbean: At World''s End', N'Aventura', 69, 4763, 2007, N'Mayo')
INSERT [dbo].[Peliculas] ([ID_Pelicula], [Presupuesto], [Puntuacion_Popularidad], [Ingresos], [Titulo], [Género], [Calificacion_Promedio], [ID_Director], [Año_Estreno], [Mes_Estreno]) VALUES (43599, 245000000.0000, 107, 880674609.0000, N'Spectre', N'Acción', 63, 4764, 2015, N'Octubre')
GO
ALTER TABLE [dbo].[Peliculas]  WITH CHECK ADD  CONSTRAINT [FK_Peliculas_Directores] FOREIGN KEY([ID_Director])
REFERENCES [dbo].[Directores] ([ID_Director])
GO
ALTER TABLE [dbo].[Peliculas] CHECK CONSTRAINT [FK_Peliculas_Directores]
GO
USE [master]
GO
